.apartment {
height: 1446px;
 @media screen and (min-width:768px){
height: 1064px;
    }
     @media screen and (min-width:1024px){
height:643px ;
    }
}
.apartament-title{
 font-family: Poppins;
font-weight: 500;
font-size: 28px;
color: #7E6D53;
margin-top: 24px;
margin-left: 20px;
margin-bottom: 28px;

 @media screen and (min-width:768px){
margin-left: 32px;
    }
 @media screen and (min-width:1200px){
margin-left: 68px;
    }
}
.apartment-list {
    display: flex;
    align-items: center;
    gap: 28px;
    flex-direction: column;
    margin-bottom: 28px;
    @media screen and (min-width:768px){
        flex-direction: row;
        gap: 33px;
        flex-wrap: wrap;
        justify-content: center;
    }
 @media screen and (min-width:1200px){
gap: 120px;
    }
}
.apartment-item:hover{
    border: 2px solid #7E6D53;
    border-radius: 16px;
}
.apartment-item{
    padding-top: 20px;
    padding-bottom:20px ;
}
.apartment-btn {
}
.apartment-subtitle{
font-family: Poppins;
font-weight: 400;
font-size: 28px;
line-height: 120%;
color: #2D2A22;
text-align: center;
}
.house {
}
.apartment-text {
    font-family: Poppins;
font-weight: 300;
font-size: 20px;
line-height: 130%;
text-align: center;
 @media screen and (min-width:768px){
font-size: 24px;
margin-left:30px ;
margin-right:30px ;
    }
 @media screen and (min-width:1200px){

    }
}
.apartment-download {
    display: block;
    width: 240;
height: 54;
border-radius: 16px;
padding-top: 14px;
padding-right: 28px;
padding-bottom: 14px;
padding-left: 28px;
background-color: #7E6D53;
font-family: Poppins;
font-weight: 500;
font-size: 18px;
color: #FCFCFB;
margin: 0 auto;
}