.apartment {
height: 1446px;
}
.apartament-title{
 font-family: Poppins;
font-weight: 500;
font-size: 28px;
color: #7E6D53;
margin-top: 24px;
margin-left: 20px;
margin-bottom: 28px;



}
.apartment-list {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.apartment-item {
}
.apartment-btn {
}
.apartment-subtitle{
font-family: Poppins;
font-weight: 400;
font-size: 28px;
line-height: 120%;
color: #2D2A22;
text-align: center;
}
.house {
}
.apartment-text {
    font-family: Poppins;
font-weight: 300;
font-size: 20px;
line-height: 130%;
text-align: center;
}
.apartment-download {
}