.infrastructure {
  padding: 60px 0;
  background-color: #f5f1ea;

  &-title {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Poppins";
    color: #7e6d53;
    margin-left: 20px;
    line-height: 100%;
    font-weight: 500;
  }

  &-bg {
    background-image: url("/src/img/Infrastructure-mobile.png");
    height: 497px;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-overlay {
    width: 280px;
    height: 351px;
    background: #fcfcfb;
    opacity: 80%;
    border-radius: 16px;
    padding: 10px 16px;
  }

  &-list {
    list-style: none;
    width: 244px;
    height: 320px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }

  &-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: #7e6d53;
    font-family: "Poppins";
  }

  &-circle {
    width: 101px;
    height: 101px;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 14px;
    line-height: 1.7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: "Poppins";
    font-weight: 700;
  }

  &-text {
    font-size: 13px;
    font-weight: 500;
    width: 136px;
    height: 21px;
  }
}
// TABLET
@media (min-width: 768px) {
  .infrastructure {
    &-bg {
      background-image: url("/src/img/Infrastructure-tablet.png");
      width: 100%;
      height: 468px;
    }

    &-title {
      width: 275px;
      font-size: 40px;
      font-family: "Poppins";
      color: #7e6d53;
      line-height: 100%;
      font-weight: 500;
    }

    &-list {
      width: 267px;
      height: 101px;
      top: 116px;
      left: 432;
      grid-template-columns: 1fr;
      gap: 40px;
    }

    &-overlay {
      width: 331px;
      height: 455px;
      margin-left: 400px;
      background: #fcfcfb;
      opacity: 0.8;
      border-radius: 8px;
    }

    &-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      color: #7e6d53;
      font-family: "Poppins";
      margin-top: 15px;
      margin-left: 15px;
    }

    &-circle {
      width: 101px;
      height: 101px;
      border: 1px solid #2d2a22;
      border-radius: 50%;
      font-size: 16px;
      line-height: 1.7;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      font-family: "Poppins";
      font-weight: 600;
    }
    &-text {
      top: 40px;
      left: 115px;
      font-size: 15px;
      font-weight: 500;
      width: 152px;
      height: 24px;
    }
  }
}
// DESKTOP
@media (min-width: 1200px) {
  .infrastructure {
    padding: 100px 0;

    &-title {
      width: 275px;
      height: 60px;
      font-size: 40px;
      left: 50px;
      position: relative;
      font-weight: 500;
    }

    &-bg {
      width: 1144px;
      height: 486px;
      left: 68px;
      background-image: url("/src/img/Infrastructure.png");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: flex-end;
      align-items: center;
    }

    &-overlay {
      width: 331px;
      height: 470px;
      right: 168px;
      border-radius: 8px;
      opacity: 0.8;
      position: relative;
    }
    &-list {
      width: 267px;
      height: 101px;
      grid-template-columns: 1fr;
      gap: 40px;
    }

    &-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      color: #7e6d53;
      font-family: "Poppins";
      margin-top: 15px;
      margin-left: 15px;
    }

    &-circle {
      width: 101px;
      height: 101px;
      border: 1px solid #000;
      border-radius: 50%;
      font-size: 16px;
      line-height: 1.7;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      font-family: "Poppins";
      font-weight: 600;
    }

    &-text {
      width: 152px;
      height: 24px;
      top: 40px;
      left: 115px;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
