.infrastructure {
  padding: 60px 0;
  background-color: #f5f1ea;

  &-container {
    width: 100%;
  }

  &-title {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Poppins";
    color: #7e6d53;    line-height: 100%;
    font-weight: 500;
    position: absolute;
    top: -50px;
    left: 5px;
  }

  &-bg {
    background-image: url("/src/img/Infrastructure-mobile.png");
    height: 497px;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // &-overlay {
  //   width: 280px;
  //   height: 351px;
  //   background: #fcfcfb;
  //   opacity: 80%;
  //   border-radius: 16px;
  //   padding: 10px 16px;
  // }

  &-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fcfcfb;
    opacity: 80%;
    border-radius: 16px;
    padding: 40px 16px;
  }

  &-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: #7e6d53;
    font-family: "Poppins";
  }

  &-circle {
    width: 101px;
    height: 101px;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 14px;
    line-height: 1.7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: "Poppins";
    font-weight: 700;
  }

  &-text {
    font-size: 13px;
    font-weight: 500;
    width: 136px;
    height: 21px;
  }
}
// TABLET
@media (min-width: 768px) {
  .infrastructure {
    &-container {
      width: 100%;
    }
    &-bg {
      background-image: url("/src/img/Infrastructure-tablet.png");
      width: 100%;
      height: 468px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 37px;
    }

    &-title {
      width: 275px;
      font-size: 40px;
      font-family: "Poppins";
      color: #7e6d53;
      line-height: 100%;
      font-weight: 500;
    }

    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: #fcfcfb;
      opacity: 80%;
      border-radius: 8px;
    }

    // &-overlay {
    //   width: 331px;
    //   height: 455px;
    //   margin-left: 400px;
    //   background: #fcfcfb;
    //   opacity: 0.8;
    //   border-radius: 8px;
    // }

    &-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      color: #7e6d53;
      font-family: "Poppins";
      margin-top: 15px;
    }

    &-circle {
      width: 101px;
      height: 101px;
      border: 1px solid #2d2a22;
      border-radius: 50%;
      font-size: 16px;
      line-height: 1.7;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      font-family: "Poppins";
      font-weight: 600;
    }
    &-text {
      top: 40px;
      left: 115px;
      font-size: 15px;
      font-weight: 500;
      width: 152px;
      height: 24px;
    }
  }
}
// DESKTOP
@media (min-width: 1024px) {
  .infrastructure {
    padding: 100px 0;

    &-container {
        display: flex;
        justify-content: center;
    }


    &-title {
      width: 275px;
      font-size: 40px;
      font-family: "Poppins";
      color: #7e6d53;
      line-height: 100%;
      font-weight: 500;
      left: 0;
    }

    &-bg {
      width: 90%;
      height: 486px;
      background-image: url("/src/img/Infrastructure.png");
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: flex-end;
      align-items: center;
      padding-right: 168px;
    }

    // &-overlay {
    //   width: 331px;
    //   height: 470px;
    //   right: 168px;
    //   border-radius: 8px;
    //   opacity: 0.8;
    //   position: relative;
    // }
    &-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: #fcfcfb;
      opacity: 80%;
      border-radius: 16px;
      padding: 10px 16px;
    }

    &-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 10px;
      color: #7e6d53;
      font-family: "Poppins";
      margin-top: 15px;
      margin-left: 15px;
    }

    &-circle {
      width: 101px;
      height: 101px;
      border: 1px solid #000;
      border-radius: 50%;
      font-size: 16px;
      line-height: 1.7;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      font-family: "Poppins";
      font-weight: 600;
    }

    &-text {
      width: 152px;
      height: 24px;
      top: 40px;
      left: 115px;
      font-size: 15px;
      font-weight: 500;
    }
  }
}
