.philosophy {
  position: relative;
  width: 100%;
  background: #f1ede7;

  &-bg {
    position: relative;
    width: 100%;
    min-height: 680px;
    opacity: 1;
    background-image:
      url("../src/img/philosophy_img's/man.svg"),
      url("../src/img/philosophy_img's/philosophy_mobile_bg.png");
    background-position:
      47% 81%,
      45% center;
    background-size:
      clamp(110px, 16vw, 70px) auto,
      cover;
    background-repeat: no-repeat, no-repeat;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      height: 10px;
      background: #ede9e3;
    }
  }

  @media (max-width: 767px) and (min-resolution: 2dppx),
    (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
    &-bg {
      background-image:
        url("../src/img/philosophy_img's/man.svg"),
        url("../src/img/philosophy_img's/philosophy_mobile_bg@2X.png");
    }
  }

  &-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 72px;
    max-width: none;
    margin: 0;
  }

  &-card {
    width: 100%;
    max-width: none;
    min-width: 280px;
    margin: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;

    &-bg {
      width: 100%;
      background: rgba(255, 255, 255, 0.9);
      border-radius: 0;
      z-index: 1;
      padding-bottom: 16px;
      overflow: hidden;
    }

    &-content {
      z-index: 2;
      padding: 30px 26px 34px;
      display: flex;
      flex-direction: column;
      gap: 0;
    }
  }

  &-copy {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 18px 28px;
    margin: 0 0 10px;
    padding: 0;
  }

  &-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 22px;
  }

  &-icon {
    width: 32px;
    height: 32px;
    opacity: 0.85;
  }

  &-text {
    font-size: 15px;
    line-height: 1.3;
    color: #6b5e4e;
  }

  &-title {
    line-height: 1.25;
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 20px;
    color: #2f2a23;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  &-text2 {
    line-height: 1.45;
    margin-top: 4px;
    font-size: 14px;
    color: #7e6d53;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
  }

  /* mobile */
  @media (min-width: 768px) {
    &-bg {
      min-height: 760px;
      background-image:
        url("../src/img/philosophy_img's/man.svg"),
        url("../src/img/philosophy_img's/philosophy_tablet_bg.png");
    }

    &-card-bg {
      padding-bottom: 120px;
    }

    &-card-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 64px;
      row-gap: 0;
      align-items: start;
      max-width: 980px;
      margin: 0 auto;
      width: 100%;
    }

    &-list {
      margin: 0;
      gap: 70px 36px;
    }

    &-title,
    &-text2 {
      grid-column: 2;
    }

    &-copy {
      grid-column: 2;
      grid-row: 1;
      margin-top: 30px;
      margin-bottom: 8px;
    }

    &-text2 {
      margin-top: 4px;
    }

    @media (min-width: 768px) and (max-width: 1024px) and (min-resolution: 2dppx),
      (min-width: 768px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
      &-bg {
        background-image:
          url("../src/img/philosophy_img's/man.svg"),
          url("../src/img/philosophy_img's/philosophy_tablet_bg@2X.png");
      }
    }
  }

  /* desktop */
  @media (min-width: 1025px) {
    &-container {
      margin-left: auto;
      margin-right: auto;
    }

    &-card-bg {
      padding-bottom: 20px;
    }

    &-bg {
      background-image:
        url("../src/img/philosophy_img's/man.svg"),
        url("../src/img/philosophy_img's/philosophy_desktop_bg.png");
    }

    &-list {
      padding-left: 0;
      margin-top: 50px;
      column-gap: 50px;
      row-gap: 140px;
    }

    &-title {
      font-size: 26px;
    }

    &-text2 {
      font-size: 16px;
      max-width: 400px;
      margin-top: 4px;
    }

    &-copy {
      margin-top: 40px;
      margin-bottom: 0;
      padding-left: 100px;
    }

    @media (min-width: 1025px) and (min-resolution: 2dppx),
      (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {
      &-bg {
        background-image:
          url("../src/img/philosophy_img's/man.svg"),
          url("../src/img/philosophy_img's/philosophy_desktop_bg@2X.png");
      }
    }
  }
}
