// @use "reset";
// @use "vars";
.view {
  height: 491px;
  background-image:
    url(src/img/group.svg), url(src/img/girl.svg),
    url(src/img/mobile-backgroung.png);
  background-position:
    5% 78%,
    93% 79%,
    center;
  background-size:
    44px 49px,
    24px 52px,
    cover;
  background-repeat: no-repeat;
  @media screen and (min-width: 768px) {
    background-image:
      url(src/img/group.svg), url(src/img/girl.svg),
      url(src/img/view-bg-tablet.png);
    background-size:
      85px 95px,
      57px 119px,
      cover;
    height: 720px;
  }
  @media screen and (min-width: 1200px) {
    background-image:
      url(src/img/group.svg), url(src/img/girl.svg), url(src/img/background.png);
    background-position:
      8% 90%,
      93% 90%,
      center;
    background-size:
      146px 163px,
      88px 185px,
      cover;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 48px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 26px;
  }
}
.view-title {
  font-family: Poppins;
  font-weight: 400;
  font-size: 48px;
  color: #7e6d53;
  @media screen and (min-width: 768px) {
    font-size: 72px;
  }
  @media screen and (min-width: 1200px) {
  }
}
.view-text {
  font-family: Poppins;
  font-weight: 300;
  font-size: 16px;
  width: 184px;
  text-align: center;
  color: #7e6d53;
  @media screen and (min-width: 768px) {
    width: auto;
    font-size: 24px;
  }
  @media screen and (min-width: 1200px) {
  }
}

.view-button {
  width: 200px;
  height: 50px;
  background-color: #fcfcfb;
  font-family: Poppins;
  font-weight: 300;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2d2a22;
  border-radius: 10px;
  text-align: center;
  margin-top: 267px;
  @media screen and (min-width: 768px) {
    margin-top: 372px;
    width: 256px;
    height: 54px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 445px;
  }
}
