@use "mixins";

html {
}
body {
}

.page {
  width: 100%;
  margin: 0;
  padding: 0;
}

// .wrapper {
//   min-height: 100vh;
//   text-align: center;
//   display: flex;
//   flex-flow: column;
// }

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 2rem;
}

// .dark {
//   color-scheme: dark;
// }

// .title {
//   font-size: 4rem;

//   span {
//     font-size: 5rem;
//     text-transform: uppercase;
//     font-weight: 700;
//     @include mixins.text-gradient;
//   }
// }

// .footer {
//   padding: 3rem 0;
//   font-size: 1.6rem;

//   a {
//     text-decoration: none;
//     color: var(--brand-color);
//     transition: 0.2s ease;
//     &:hover {
//       color: var(--brand-light-color);
//     }
//   }
// }
