@use "reset.scss";
@use "vars";
@use "global";
@use "layout/header";
@use "layout/view";
@use "layout/infrastructure";
@use "layout/philosophy"; 
@use "./layout/apartment"; 
@use "layout/gallery";
// body{
//     background-color: yellowgreen;
// }
