@use "reset.scss";
@use "vars";
@use "global";
@use "layout/header";
@use "layout/view";
@use "layout/philosophy";
@use "layout/apartment";
@use "layout/infrastructure";
@use "layout/gallery";
@use "layout/contact";
@use "layout/footer";

// body{
//     background-color: yellowgreen;
// }
